.navigation {
    margin-top: 5rem;
    &__logo {
        margin-top: 3rem;
        img {
            height: 4.2rem;
            width: 4.2rem;
            margin: 0.9rem 4rem ;
        }
    }
    &__flex{
        margin-top: 3rem;
        display: flex;
        align-items:flex-start;
        gap: 6rem;
    }
    &__searchbar {
        position: relative;
        &__icon {
            display: block;
            font-size: 2rem;
            position: absolute;
            left: 14%;
            top: 27%;
            cursor: default;
        }

        input::placeholder {
            padding: 3rem 3rem;
            font-size: 1.6rem;
        }

        input[type=search] {
            width: 130%;
            padding: 1.6rem;
            border: none;
            margin: 0 1.4rem;
            font-size: 1.8rem;
            text-indent: 8px;
            outline: none;
            border-radius: 3rem;
        }
        input:focus + &__icon {
            opacity: 0;
            background-color: #df4e7e;
            
        }
    }

    &__right {
        margin-top: 3rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-right: 5rem;

        &__icon {
            border-right: 2px solid rgba($color: $color-grey-dark, $alpha: .2);

            ion-icon{
                padding-right: 1rem;
                padding-top: 4px ;
                font-size: 3.8rem;
                color: $color-grey-dark-3;
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    transform: translate(0%, 12%) rotate(45deg) ;
                }
            }
            &__notification{
                position: relative;
                &:hover {
                    transform: translate(0%, 0%) rotate(15deg) !important;
                }
            }
            &__notification::after{
                content:"";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #df4e7e;
                position: absolute;
                top: 21%;
                left: 42%;
            }   
        }             
        &__profile {
            display: flex;
            align-items: center;
            img{
                margin: 0 0 0 1.6rem;
                width: 4.4rem;
                border-radius: 50%;
                margin-right: 1.6rem;
            }
            &:hover {
                transition: all .4s;
                transform:scale(1.05);
                cursor: pointer;
            }
        }
    }

    &__iconset {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-left: 25%;
        margin-top: 35%;
        &__icon{
            padding: 1rem;
            font-size: 3.6rem;
            position: relative;
            color: $color-grey-dark;
            border-radius: 50%;

            &::before {
                content: "";
                color: $color-white;
                background-color: rgba($color: $color-black, $alpha: .80);
                padding: 5rem;
                border-radius: 50%;
                position: absolute;
                transform:scale(2);
                opacity: 0;
                z-index: -1;
                transition: all 0.4s;
            }

            &:hover {
                color: $color-white;
                &::before{
                    opacity: 1;
                }
            }
        }
    }
}