.navigation {
    margin-top: 5rem;
    @media (max-width:62.5em) {
        margin-top: 0rem;
    }
    @media (max-width:31.5em) {
        font-size: 30%;
    }
    
    &__logo {
        margin-top: 3rem;
        img {
            height: 50%;
            width: 50%;
            margin: 17% 42% 0 42% ;
            @media (max-width:27.5em) {
                height: 45%;
                width: 45%;
                margin: 12% 42% 0 42%;
            }
        }
        
    }
    &__flex{
        margin: 4% 0 0 8%;
        display: flex;
        align-items:center;
        gap: 9%;

        @media (max-width:46em) {
            margin-top: 2rem;
        }
        @media (max-width:37.5em) {
            gap: 0;
            margin-top: 2.4rem;
        }
    }
    &__searchbar {
        position: relative;
        &__icon {
            display: block;
            font-size: 2rem;
            position: absolute;
            left: 14%;
            top: 20%;
            cursor: default;
            @media (max-width:27.5em) {
                display: none;
            }
        }
        input[type=search] {
            width: 130%;
            @media (max-width:75em) {
                width: auto;
            }
            @media (max-width:62.5em) {
                width: 90%;
            }
            @media (max-width:37.5em) {
                width: 85%;
            }
            @media (max-width:27.5em) {
                padding-left: 0;
                padding-right: 0;
            }
            
            padding: 6% 15%;
            border: none;
            margin: 0 8%;
            font-size: 1.8rem;
            text-indent: 8px;
            outline: none;
            border-radius: 3rem;
            
        }
    }

    &__right {
        margin-top: 3rem;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-right: 9%;

        &__icon {
            border-right: 2px solid rgba($color: $color-grey-dark, $alpha: .2);
            ion-icon{
                padding-top: 4px ;
                font-size: 3.8rem;
                color: $color-grey-dark-3;
                transition: all .3s;
                cursor: pointer;
                
                @media (max-width:27.5em) {
                    font-size: 3rem;
                }
            }
            &__notification::after{
                content:"";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: #df4e7e;
                position: absolute;
                top: 23%;
                left: 56%;
            }   
        }             
        &__profile {
            display: flex;
            align-items: center;
            @media (max-width:62.5em) {
                padding-left: 3%;
            }
            @media (max-width:27.5em) {
                h2{
                    display: none;
                }
            }
            
            img{
                margin: 0 0 0 1.6rem;
                width: 4.4rem;
                border-radius: 50%;
                margin-right: 1.6rem;
                @media (max-width:27.5em) {
                    width: 3.2rem;
                    margin: 0.6rem;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    &__iconset {
        @media (max-width:62.5em) {
            grid-column: 1;
        }
        
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-left: 15%;
        margin-top: 15%;
        &__icon{
            padding: 2rem;
            font-size: 3.6rem;
            position: relative;
            color: $color-grey-dark;
            border-radius: 50%;

            &::before {
                content: "";
                color: $color-white;
                background-color: rgba($color: $color-black, $alpha: .80);
                padding: 5rem;
                border-radius: 50%;
                position: absolute;
                transform:scale(2);
                opacity: 0;
                z-index: -1;
                transition: all 0.4s;
            }

            &:hover {
                color: $color-white;
                &::before{
                    opacity: 1;
                    cursor: pointer;
                }
            }
        }
    }
}