*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    background-color: aliceblue;

    @media (max-width:93.5em){ //1500
        font-size: 58.5%;
    }
    @media (max-width:87.5em){ //1400
        font-size: 58%;
    }
    @media (max-width:78.5em){ //1200
        font-size: 54%;
    }
    @media (max-width:73.5em){ 
        font-size: 50%;
    }
    @media (max-width:62.5em){ 
        font-size: 50%;
    }
    @media (max-width:54.5em){ 
        font-size: 50%;
    }
    @media (max-width:46em){ 
        font-size: 45%;
    }
    @media (max-width:37.5em){
        font-size: 45%;
    }
    @media (max-width:31.5em){
        font-size: 40%;
    }
    @media (max-width:27.5em){
        font-size: 60%;
    }
    @media (max-width:22em){
        font-size: 58%;
    }
}

body {
    box-sizing: border-box;
    padding: 3rem;
    margin: 0 auto;
    height: 100vh;
}

