body {
    font-family:sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;

}

.heading-primary {
    color: $color-black;
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    @media (max-width:75em) {
        font-size: 2.8rem;
    }
    @media (max-width:37.5em) {
        font-size: 2.6rem;
    }

}
.heading-secondary {
    color: rgba($color: $color-grey-dark-3, $alpha: .90);
    display: block;
    font-size: 2.6rem;
    font-weight: 600;
    @media (max-width:75em) {
        font-size: 2.2rem;
    }
    @media (max-width:37.5em) {
        font-size: 2rem;
    }
    @media (max-width:27.5em) {
        font-size: 1.6rem;
    }
    @media (max-width:27.5em) {
        padding:4px 8px ;
    }
}

.heading-tertiary{
    &--main{
        display: inline;
        margin-top: 5px;
        font-size: 2.2rem;
        font-weight: 600;
        color: rgba($color: $color-grey-dark-3, $alpha: .88);
        @media (max-width:75em) {
            font-size: 2rem;
        }
        @media (max-width:37.5em) {
            font-size: 1.8rem;
        }
    }

    &--sub {
        display: block;
        font-size: 1.4rem;
        font-weight: 600;

        @media (max-width:75em) {
            font-size: 1.2rem;
        }
        @media (max-width:37.5em) {
            font-size: 1rem;
        }
    }
}