.client__msg{
    
    &__header{
        
        padding: 8% 2% 2% 10%;
        border-bottom: 3px solid rgba($color: $color-grey-dark-2, $alpha: .2);
        display: flex;
        width: 10   0%;
        justify-content: space-between;
        align-items: center;

        &__icon{
            cursor: pointer;
            margin-right: 2.4rem;
            font-size: 2.4rem;
            color: $color-black;
            &--1{
                color:$color-grey-dark;
            }
        }

    }
    &__body{
        // padding: 0 1rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 68vh;
    
        &::-webkit-scrollbar {
            display: none !important;
        }
        &_msg{
            display: flex;
            text-align: center;
            gap: 2.4rem;
            padding: 0 4rem 1rem 10%;
            margin: 8px 0;
            border-bottom: 3px solid rgba($color: $color-grey-dark-2, $alpha: .2);
            // width: 105%;
            

            &__image{
                width: 6rem;
                border-radius: 50%;
                margin-top: 35%;
            }
            &__text{
                .head{
                    display: flex;
                    justify-content: space-between;
                    text-align: center;

                    &--icon{
                        margin-top: 3.4%;
                        width: 2.2rem;
                        height: 2.2rem;
                    }
                }
                .text{
                    margin-top: 6px;
                    text-align: left;
                    font-size: 1.3rem;
                    font-weight: 600;
                    line-height: 1.4;
                    color: rgba($color: $color-grey-dark-3, $alpha: 0.8);

                    @media (max-width:62.5em) {
                            font-size: 1.6rem;
                        }
                }
                .date-text{
                    text-align: end;
                    color: $color-grey-dark-2;
                }
            }

            &:hover{
                transition: all .4s;
                border-radius: 2rem;
                transform: scale(1.02);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                background-color:$color-white;
            }
            &:hover .head--icon{
                fill:rgba($color: $color-grey-dark-3, $alpha: 1);
            }
        }
    }
}