.client__msg{
    
    &__header{
        width: 102%;
        padding: 8% 11% 2% 11%;
        border-bottom: 3px solid rgba($color: $color-grey-dark-2, $alpha: .2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        &__icon{
            display: block;
            cursor: pointer;
            padding-right: 6%;
            font-size: 2.4rem;
            color:$color-grey-dark;
        }

        &::after,
        &::before {
            content: "";
            position: absolute;
            padding: 3px;
            border-radius: 50%;
            background-color: rgba($color: $color-grey-dark-3, $alpha: .9);
            right: 10%;
            cursor: pointer;
        }

        &::after{
            top: 57%;
        }
        &::before {
            bottom:23%;
        }
    }
    &__body{
        padding: 0 1rem;
        overflow-y: scroll;
        scroll-behavior: smooth;
        height: 80rem;
    
        &::-webkit-scrollbar {
            display: none !important;
        }

        @media (max-width:62.5em) {
            display: grid;
            grid-template-columns: repeat(2 , 1fr);
            column-gap: 2%;
        }
        @media (max-width:37.5em) {
            display: block;
            padding: 0 5rem;
        }
        &_msg{
            display: flex;
            text-align: center;
            gap: 2.4rem;
            padding: 0 2.2rem 1rem 8%;
            margin: 8px 0;
            border-bottom: 3px solid rgba($color: $color-grey-dark-2, $alpha: .2);
            

            &__image{
                width: 6rem;
                border-radius: 50%;
                margin-top: 35%;
            }
            &__text{
                .head{
                    display: flex;
                    justify-content: space-between;
                    text-align: center;

                    &--icon{
                        margin-top: 3.4%;
                        width: 2.2rem;
                        height: 2.2rem;
                    }
                }
                .text{
                    margin-top: 6px;
                    text-align: left;
                    font-size: 1.4rem;
                    font-weight: 600;
                    line-height: 1.4;
                    color: rgba($color: $color-grey-dark-3, $alpha: 0.8);
                }
                .date-text{
                    text-align: end;
                    color: $color-grey-dark-2;
                }
            }

            &:hover{
                transition: all .4s;
                border-radius: 2rem;
                transform: scale(1.02);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
                background-color:$color-white;
            }
            &:hover .head--icon{
                fill:rgba($color: $color-grey-dark-3, $alpha: 1);
            }
        }
    }
}